
.main{
    background-color: #f9f9f9;
    margin-top: 6vh;
}

@media screen and (max-width: 1200px) {
    .main{
        font-size: 70%;
    }
}

.main__container{
    display: flex;
    flex-direction: column;
    width: 65vw;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .main__container{
        width: 90%;
    }
}

.main__loading{
    margin-top: 2vh;

}

.main__text{
    margin: 1rem 0;
    color: grey;
}

.main__products-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
