.product-in-cart {
  margin-bottom: 0.5rem;
  /* width: 100%; */
  background-color: white;
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  height: 15vh;
  font-size: 0.8rem;
}

@media screen and (max-width: 1200px) {
  .product-in-cart {
    height: 20vh;
  }
}

.product-in-cart__left {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.product-in-cart__img {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .product-in-cart__img {
    width: 70%;
    margin: auto;
  }
}

.product-in-cart__center {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 1rem;
}

@media screen and (max-width: 1200px) {
  .product-in-cart__center {
    margin: 0 0.5rem;
  }
}

.product-in-cart__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.product-in-cart__remove {
  color: red;
  cursor: pointer;
  align-self: center;
  font-size: 0.7rem;
}

.product-in-cart__quantity-container {
  display: flex;
  margin-top: 0.5rem;
  align-items: center;
}

.product-in-cart__quantity {
  margin: 0 0.5rem;
}

@media screen and (max-width: 1200px) {
  .product-in-cart__quantity {
    margin: 0 0.3rem;
  }
}

.product-in-cart__text-grey {
  color: grey;
  font-size: 0.6rem;
  margin: 0.5rem 0;
}

